youtube_redirect_uri = "https://videodash.streamlit.app/"

[youtube]
podcast_playlist_id = "PLEMmsgg0GMzCJZnBjaIyMBUPVx9hT0Ft0"

[youtube_web_oauth_client]
client_id = "YOUR_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com"
project_id = "YOUR_GOOGLE_CLOUD_PROJECT_ID"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_secret = "YOUR_GOOGLE_OAUTH_CLIENT_SECRET"
redirect_uris = ["https://videodash.streamlit.app/"]

[youtube_oauth_token]
token = "OPTIONAL_ACCESS_TOKEN_FROM_RECONNECT_FLOW"
refresh_token = "YOUR_YOUTUBE_REFRESH_TOKEN"
token_uri = "https://oauth2.googleapis.com/token"
client_id = "YOUR_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com"
client_secret = "YOUR_GOOGLE_OAUTH_CLIENT_SECRET"
scopes = [
  "https://www.googleapis.com/auth/youtube.readonly",
  "https://www.googleapis.com/auth/yt-analytics.readonly"
]
